.hero
  height: 100%
  margin-top: -1px

  @media (max-width: 959px)
    height: 100vh

  &__section
    height: 100%

  &__pic
    background-repeat: no-repeat
    background-position: 50% 25%
    background-size: cover
    width: 100%
    height: 100%

    @media (max-width: 959px)
      background-position: 45% -74px
      display: block