<div block="top-line">
  <div elem="section">
    <div elem="inner">
      <div elem="left">
        <a elem="button-connect" class="button-default" href="#">
           <span>Коннект для входа</span>
        </a>
        <a elem="button-video" href="#"> 
          <span>
            Видео иструкция
            как конектиться
          </span>
        </a>
        <a elem="button-more" class="js-button-more" href="#"></a>
      </div>
      <div elem="middle">
        {% include "logo.html" %}
         <div elem="date">
          <span>Минт:</span> 26 Июня 3:00 pm UTC
         </div>
      </div>
      <div elem="right">
        {% include "social-links.html" %}
        <div elem="language">
          <a elem="language-link" href="#">
            <i elem="language-icon"><img src="img/flag-icon.svg" alt=""></i>
            <span>RU</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div><!-- top-line -->