.characters
  padding-top: 60px
  padding-bottom: 60px

  @media (max-width: 959px)
    padding-top: 0

  &__item
    width: 150px
    border-radius: 10px

  &__img
    border-radius: 10px
    overflow: hidden

    img
      vertical-align: top
      width: 100%
      height: 100%
      object-fit: cover