@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.woff2') format('woff2'),
      url('../fonts/Play-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
      url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Medium.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Bold.woff2') format('woff2'),
      url('../fonts/Play-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Black.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

