.logo
  filter: drop-shadow(0px 11px 41px rgba(26, 49, 25, 0.28))
  border-radius: 52.5px

  &__link
    max-width: 220px
    display: block
    transition: width 0.3s, ease 0.3s

    @media (max-width: 959px)
      max-width: 100px

    img
      vertical-align: top