.social-links
  &__items
    display: flex
    align-items: center

  &__item
    flex: 0 0 40px
    width: 40px
    max-width: 40px
    height: 40px
    transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s

    &:last-child
      margin-right: 0

    img
      vertical-align: top

    &:hover
      transform: scale(1.1)