= yaml =
pageTitle: SHIZZLES
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
popupNote: true
= yaml =

{% extends 'app.html' %}



{% block main %}

  {% include "first-screen.html" %}

  {% include "characters.html" %}

  {% include "information-block.html" %}

  <div style="overflow: hidden; width: 100%;">
    {% include "road-map.html" %}

    {% include "price-info.html" %}
  </div>

  
  {% include "our-team.html" %}

  {% include "video-preview.html" %}

{% endblock %}
