= yaml =
pageTitle: SHIZZLES
bodyClasses:
layout: !!map
  header: false
  footer: false
  left: false
  right: false
= yaml =

{% extends 'app.html' %}



{% block main %}

  <div block="connect-block" mods="user-status">
    <div elem="section">
      <div elem="inner">
        <div elem="logo"><img src="img/logo.png" alt=""></div>
        <div block="status-table">
          <div elem="section">
            <div elem="greeting-name">Привет, 0X9f...9e7a!</div>
            <div elem="table">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Статус</th>
                    <th>Скидка</th>
                    <th>Сколько может купить</th>
                    <th>Время на покупку</th>
                    <th>Когда минт</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>
                      <span class="status-name">
                        <span>Flip-er</span>
                        <button class="button-info js-button-info" data-text="Для регистрации, не обязательно иметь средства на кошелке до минта. Безопано создать новый кошелек без средств для,
        регистрации, а непосредственно перед минтом перевести необходимую сумму на зарегистрированный кошелк."></button>
                      </span>
                    </td>
                    <td>0%</td>
                    <td style="font-size: 25px;">&#8734;</td>
                    <td>7 дней</td>
                    <td>1 Месяц 10 дней</td>
                  </tr>
                  <tr>
                    <td>Ваш статус &rarr;</td>
                    <td>
                      <span class="status-name">
                        <span>Earlibird</span>
                        <button class="button-info js-button-info" data-text="Для регистрации, не обязательно иметь средства на кошелке до минта. Безопано создать новый кошелек без средств для,
        регистрации, а непосредственно перед минтом перевести необходимую сумму на зарегистрированный кошелк. Earlibird"></button>
                      </span>
                    </td>
                    <td>60%</td>
                    <td>2 NFT </td>
                    <td>6 часов</td>
                    <td>1 Месяц 10 дней</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <span class="status-name">
                        <span>Woof List</span>
                        <button class="button-info js-button-info" data-text="Для регистрации, не обязательно иметь средства на кошелке до минта. Безопано создать новый кошелек без средств для,
        регистрации, а непосредственно перед минтом перевести необходимую сумму на зарегистрированный кошелк. Woof List"></button>
                      </span>
                    </td>
                    <td>95%</td>
                    <td>2 NFT </td>
                    <td>3 часа</td>
                    <td>1 Месяц 10 дней</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <span class="status-name">
                        <span>OG</span>
                        <button class="button-info js-button-info" data-text="Для регистрации, не обязательно иметь средства на кошелке до минта. Безопано создать новый кошелек без средств для,
        регистрации, а непосредственно перед минтом перевести необходимую сумму на зарегистрированный кошелк. OG"></button>
                      </span>
                    </td>
                    <td>95%</td>
                    <td>2 NFT </td>
                    <td>3 часа</td>
                    <td>1 Месяц 10 дней</td>
                  </tr>
                </tbody>
              </table>
              <div elem="status-info-text" class="js-status-info-text"></div>
            </div>
          </div>
          <div elem="info-code">
            <div elem="info-code-item">
              <span elem="info-code-desc">
                Ваш код для приглашения других пользователей: <strong>GROSSESH1ANGE</strong>
              </span>
              <a elem="button-change" class="button-default button-default--popup" data-remodal-target="change" href="#">
                <span>Изменить</span>
              </a>
            </div>
            <div elem="info-code-item">
              <span elem="info-code-desc">
                По вашему коду зарегистрировалось <strong>3</strong> человек из 100 возможных
              </span>
              <a elem="button-change" class="button-default button-default--popup" href="#">
                <span>статистика</span>
              </a>
            </div>
          </div>
          <div elem="links">
            <a href="#" data-remodal-target="need_code">Зачем нужен код приглашения</a>
            <a href="#" data-remodal-target="your_status">Как повысить свой статус</a>
            <a href="#" data-remodal-target="price">Какая цена НФТ</a>
          </div>
        </div><!-- status-table -->
        
        <div elem="bottom">
          <a elem="link" href="#">Terms nad Conditions</a>
          <span>*мы не связаны с Axie infinity, Sky Marvis, BAYC, Azuki</span>
        </div>
      </div>
    </div>
    <div block="popup-note" mods="change" class="remodal" data-remodal-id="change">
      <button elem="button-close" class="remodal-close" data-remodal-action="close" type="button"></button>
      <div elem="section">
        <div elem="inner">
          <form elem="form">
            <div elem="container">
              <div elem="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, unde?</p>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div elem="field">
                <input type="text" placeholder="Введите код" value="GROSSESH1ANGE">
                <span elem="error">Извините, этот код занят, попробуйте другой.</span>
              </div>
              <div elem="buttons">
                <button elem="button" mods="change" class="button-default button-default--popup" type="submit">
                  <span>изменить</span>
                </button>
                <button elem="button" mods="close" class="button-default button-default--popup" data-remodal-action="close" type="button">
                  <span>закрыть</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- popup-note -->
    
    <div block="popup-note" mods="your-status" class="remodal" data-remodal-id="your_status">
      <button elem="button-close" data-remodal-action="close" class="js-button-note-close remodal-close"
        type="button"></button>
      <div elem="section">
        <div elem="inner">
          <div elem="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, cumque numquam, soluta rerum, officia voluptates
            inventore placeat blanditiis distinctio autem cupiditate quidem vel dolor sequi fuga quam nemo nobis vitae!
          </div>
          <button elem="button-ok" class="button-default button-default--popup" data-remodal-target="request"
            type="button"><span>Запросить OG</span></button>
          <div elem="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, repudiandae perferendis sapiente animi
            distinctio minus deserunt corporis dicta quam? Ea doloremque laudantium ipsa libero quaerat odio illo ratione
            eaque rerum nostrum a, itaque, esse harum.
          </div>
          <button elem="button-ok" class="button-default button-default--popup" data-remodal-target="request"
            type="button"><span>Запросить Contributor</span></button>
          <div elem="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem assumenda molestias exercitationem qui provident
            possimus. Recusandae optio repellat architecto aut.
          </div>
          <button elem="button-ok" class="button-default button-default--popup" data-remodal-target="request"
            type="button"><span>Запросить EarlyBird</span></button>
        </div>
      </div>
    </div><!-- popup-note -->
    <div block="popup-note" class="remodal" data-remodal-id="price">
      <button elem="button-close" data-remodal-action="close" class="remodal-close"
        type="button"></button>
      <div elem="section">
        <div elem="inner">
          <div elem="text">
            Цена НФТ без скидок равна E0.01
          </div>
          <br>
          <button elem="button-ok" class="button-default button-default--popup"
            data-remodal-action="close" type="button"><span>Понятно</span></button>
        </div>
      </div>
    </div><!-- popup-note -->
    <div block="popup-note" mods="request" class="remodal" data-remodal-id="request">
      <button elem="button-close" class="remodal-close" data-remodal-action="close" type="button"></button>
      <div elem="section">
        <div elem="inner">
          <form elem="form">
            <div elem="container">
              <div elem="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, unde?</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet error dolore. Autem, nostrum
                  eveniet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div elem="field">
                <label for="">Ваше имя пользователя твиттер</label>
                <input type="text" placeholder="Веддите имя">
              </div>
              <div elem="field">
                <label for="">Ваше имя пользователя дискорд</label>
                <input type="text" placeholder="Веддите имя">
              </div>
              <div elem="buttons">
                <button elem="button" mods="change" class="button-default button-default--popup"
                  data-remodal-target="received" type="button">
                  <span>запросить</span>
                </button>
                <button elem="button" mods="close" class="button-default button-default--popup" data-remodal-action="close"
                  type="button">
                  <span>отмена</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- popup-note -->
    <div block="popup-note" class="remodal" data-remodal-id="received">
      <button elem="button-close" data-remodal-action="close" class="remodal-close" type="button"></button>
      <div elem="section">
        <div elem="inner">
          <div elem="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, unde?</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet error dolore. Autem, nostrum eveniet.
            </p>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <br>
          <button elem="button-ok" class="button-default button-default--popup" data-remodal-action="close"
            type="button"><span>Понятно</span></button>
        </div>
      </div>
    </div><!-- popup-note -->
    <div block="popup-note" class="remodal" data-remodal-id="need_code">
      <button elem="button-close" data-remodal-action="close" class="remodal-close" type="button"></button>
      <div elem="section">
        <div elem="inner">
          <div elem="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, unde?</p>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <br>
          <button elem="button-ok" class="button-default button-default--popup" data-remodal-action="close"
            type="button"><span>Понятно</span></button>
        </div>
      </div>
    </div><!-- popup-note -->
  </div><!-- connect-block -->

{% endblock %}
